{% extends "blog/base.html" %}
{% load static %}



{% block title %}
ABOUT US
{% endblock %}


{% block main %}
  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h6>
              About
            </h6>
            <div class="custom_heading-container">
              <h2>
                web elements
              </h2>
              <hr>
            </div>
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout. The point of using Lorem
            </p>
            <div>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/about-img.png' %}" alt="">
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- end about section -->


  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_social">
        <div>
          <a href="">
            <img src="{% static 'images/fb.png' %}" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="{% static 'images/twitter.png' %}" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="{% static 'images/linkedin.png' %}" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="{% static 'images/insta.png' %}" alt="">
          </a>
        </div>
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        </p>
      </div>
    </div>
  </section>

{% endblock %}