{% extends "blog/base.html" %}
{% load static %}



{% block title %}
ABOUT US
{% endblock %}


{% block main %}

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="d-flex flex-column align-items-end">
        <div class="custom_heading-container">
          <hr>
          <h2>
            Contact Us
          </h2>
        </div>
      </div>
      <div class="layout_padding-top layout_padding2-bottom">
        <div class="row">
          <div class="col-md-7">
            <form method="post">
            {% csrf_token %}
            <label>
              <input name="form_type" value="contact_form" hidden>
            </label>
              <div class="contact_form-container">
                <div>
                  <div>
                    {{ form.name }}
                  </div>
                  <div>
                    {{ form.email }}
                  </div>
                  <div class="">
                    {{ form.message }}
                  </div>
                  <div class="mt-5">
                    <button type="submit">send</button>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-5">
            <div class="map-box">
              <div id="map">
                <div class="map-responsive">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d138551.01186505303!2d27.45328513286629!3d53.884760831238616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfd35b1e6ad3%3A0xb61b853ddb570d9!2z0JzQuNC90YHQug!5e1!3m2!1sru!2sby!4v1672052290610!5m2!1sru!2sby" width="600" height="300" frameborder="0" style="border:0; width: 100%;" allowfullscreen>
                  </iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contact_items">

        <a href="">
          <div class="item ">
            <div class="img-box box-2">

            </div>
            <div class="detail-box">
              <p>
                +375336377999
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-3">

            </div>
            <div class="detail-box">
              <p>
                tunga3109@gmail.com
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-1">

            </div>
            <div class="detail-box">
              <p>
                I will be distracted by the readable
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>


  <!-- end contact section -->

{% endblock %}