{% extends "blog/base.html" %}
{% load static %}


{% block title %}
POSTS
{% endblock %}

{% block main %}

<section class="news_section layout_padding">
    <div class="container">
      <div class="d-flex flex-column align-items-end">
        <div class="custom_heading-container">
          <hr>
          <h2>
            {{ heading }}
          </h2>
        </div>
      </div>
      <div class="row">
        {% for post in posts %}
        <div class="col-md-4">
          <div class="box">
            <div class="img-box">
              {% if post.image %}
                <img src="{{ post.image.url }}" alt="">
                {% else %}
                <img src="{% static 'images/slider-img.jpg' %}" alt="">
                {% endif %}
            </div>
            <div class="detail-box">
              <h4>
                {{ post.title }}
              </h4>
              <p align="center">
                {{ post.descr|truncatechars:100 }}
              </p>
              <div>
                <a href="{{ post.get_absolute_url }}">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}



