{% extends "blog/base.html" %}
{% load static %}


{% block title %}
{{ post.title }}
{% endblock %}

{% block main %}
<section class=" slider_section position-relative">

<div class="slider_bg-container">

</div>
<div class="slider-container">

<div class="detail-box">

<h1>
{{ post.title }}
</h1>
</div>
<div class="img-box">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="carousel-item active">
  {% if post.image %}
        <img src="{{ post.image.url }}" alt="" width="200" height="600">
    {% else %}
        <img src="{% static 'images/slider-img.jpg' %}" alt="">
    {% endif %}
</div>
</div>
</div>
</div>
</div>

</section>

<section class="news_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="box">
            <div class="action-box">
            </div>
            <div class="detail-box">
              <p align="center">{{ post.descr|rjust:1000 }}</p>
              Posted by
              <a href="#!">{{ post.author }}</a>
               {{ post.date }}
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}
